/* FOOTER */
.footer {
  background-color: $background-color;
  @include flex(flex, space-between, center);
  padding: 20px;
  flex-wrap: wrap;

  .footer-img img {
    height: 150px;
    transition: transform 0.3s;
  }

  .social-icons img {
    height: 100px;
    margin: 10px;
    transition: transform 0.3s;
  }

  .footer-img img:hover,
  .social-icons img:hover {
    transform: scale(1.2);
  }

  h4 {
    color: $primary-color;
  }
}





