/* MEDIA QUERIES */

@media (max-width: 975px) {
    header nav {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
  
      nav > a img {
        margin-left: 20px;
        height: 100px;
      }
  
      ul {
        margin-top: 20px;
        li {
          margin-bottom: 10px;
        }
      }
    }
  
    .hero-section {
      h1 {
        font-size: 60px;
      }
      h2 {
        font-size: 40px;
      }
    }
  
    .ofertas, .mas-vendido {
      height: 1000px;
    }
  }
  
  @media (max-width: 690px) {
    header nav ul {
      padding: 0;
      li a {
        font-size: 18px;
      }
      ul {
        flex-direction: column;
      }
    }
  }
  
  @media (max-width: 655px) {
    .ofertas, .mas-vendido {
      height: 1500px;
    }
  }
  
  /* CATALOGO MASCULINO Y FEMENINO MEDIA QUERIES */
  
  @media (max-width: 975px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .producto img {
      height: 250px;
    }
  }
  
  @media (max-width: 655px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .producto img {
      height: 200px;
    }
  
    .producto h3 {
      font-size: 20px;
    }
  
    .boton-compra {
      font-size: 14px;
      padding: 5px 10px;
    }
  }